* {
  font-family: "Inter", sans-serif;
  font-family: "Merriweather", serif;
}

.banner {
  background-image: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url("./resources/Banner-Image.png");
  width: 95%px;
  height: 600px;
  border-radius: 16px;
  margin: 35px 130px;
  background-size: cover;
  background-repeat: no-repeat;
}

.new-year-title {
 padding-top: 150px;
 padding-bottom: 15px;
  color: rgb(255, 255, 255);
  font-size: 28px;
  text-align: center;
  font-family: Merriweather;
}
.new-year-celebration {
  color: rgb(255, 255, 255);
  font-size: 70px;
  text-align: center;
  font-family: Merriweather;
}

/* DISCOUNT CATEGORIES  */
.discount-promo-parent{
    margin: 100px 60px;
}
/* our holiday deals */
.discount-promo-off{
    font-size: 88px;
    color: #F00;
    text-align: center;
    font-family: Inter;
    
}
.our-holiday-deals{
    padding-top: 120px 100px;
}
.our-holiday{
    color:#F00 ;
    text-align: center;
    font-size: 24px;
}
/* All categories */
.all-categories{
   
}
.categories{
    color:#070211;
    text-align: center;
    font-size: 48px;
    
}
.new-year{
    text-align: center;
    background-size: cover;
    background-repeat: no-repeat;
    font-weight: 500;

    
}
/* party image */
.midnight-image{
    background-image: url('./resources/Vectorrr.png');
    width: 95%px;
    height: 600px;
    border-radius: 16px;
    margin: 35px 70px;
    background-size: cover;
    background-repeat: no-repeat;

}

.logo{
    position: relative;
    right: -800px;
    top: -380px;
   

}

.head-midnight{
    /* padding: 130px 100px ; */
     color: rgb(255, 255, 255);
     font-size: 20px;
     text-align:left;
     font-family: Merriweather;
     font-size: 60px;
     margin-top:30px;
     padding-left: 80px;
     padding-top: 100px;
   }
.header-midnight{
    padding-left: 65px;
    padding-bottom: 50px;
    color: rgb(255, 255, 255);
    font-size: 20px;
    text-align:left;
    font-family: Merriweather;
    font-size: 18px;

}
.join{
    color: #FFF;
    padding-left: 65px;
}
.box{
    max-width:1200px;
    height:400px;
    background-color: bisque;
    padding-top: 200px; 
    text-align: center; 
    margin: 80px 50px 20px 50px;
    margin-right: 80px;
}   
.red-text{
    color: #F00;

    
    
}
.buttom-div{
    color: #F00;
    

 
}
/* AWESOME PORTFOLIO STARTS  */

.portfolio-text {
    margin: 0 140px;
  }
  
  .best-gift {
    color: #F00;
    font-size: 25px;
    margin-left: 45px;
    padding-top: 40px;
  }
  
  .awesome-portfolio-title {
    font-size: 35px;
    margin-left: 45px;
    padding-top: 30px;
  }o
  
  .awesome-portfolio-description {
    font-size: 17px;
    margin-left: 45px;
    padding-top: 30px;

  }
  
  .awsome-portfolio-image-parent {
    margin: 50px 50px 120px 50px;
    display: flexbox;
  }
  
  .main-image-child {
    padding: 15px;
    max-width: 290px;
    max-height: 290px;
    margin-left: 55px;
  }
.newslatter{
    max-width:1200px;
    height:400px;
    background-color: bisque;
    margin: 80px 50px 20px 50px;
    margin-right: 80px; 
    text-align: center; 
}
.news-text{
    color: #070211;
    font-weight: 900;
    padding-top: 35px;
}
.customer{
    font-weight: 400px;

}
.email-adress{
    color: #F00;
    border-right: 20px;


}
.group{

}
.end-option{
    max-width:1200px;
    height:300px;
    background-color: rgb(3, 2, 2);
    margin: 80px 50px 20px 50px;
    margin-right: 80px; 
    text-align: left 40px; 
    padding-top: 200px;
}
.adress{
    color: #FFF;
    border-right: 150px;
}
.images-kok{
    position: relative;
    top:-50px;
    left:450px;
}   