* {
  font-family: "Inter", sans-serif;
  font-family: "Merriweather", serif;
}

.banner {
  background-image: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url("./resources/Banner-Image.png");
  width: 95%px;
  height: 600px;
  border-radius: 16px;
  margin: 35px 130px;
  background-size: cover;
  background-repeat: no-repeat;
}

.new-year-title {
 padding-top: 150px;
 padding-bottom: 15px;
  color: rgb(255, 255, 255);
  font-size: 28px;
  text-align: center;
  font-family: Merriweather;
}
.new-year-celebration {
  color: rgb(255, 255, 255);
  font-size: 70px;
  text-align: center;
  font-family: Merriweather;
}

/* DISCOUNT CATEGORIES  */
.discount-promo-parent{
    margin: 100px 60px;
}
/* our holiday deals */
.discount-promo-off{
    font-size: 88px;
    color: #F00;
    text-align: center;
    font-family: Inter;
    
}
.our-holiday-deals{
    padding-top: 120px 100px;
}
.our-holiday{
    color:#F00 ;
    text-align: center;
    font-size: 24px;
}
/* All categories */
.all-categories{
   
}
.categories{
    color:#070211;
    text-align: center;
    font-size: 48px;
    
}
.new-year{
    text-align: center;
    background-size: cover;
    background-repeat: no-repeat;
    font-weight: 500;

    
}
/* party image */
.midnight-image{
    background-image: url('./resources/Vectorrr.png');
    width: 95%px;
    height: 600px;
    border-radius: 16px;
    margin: 35px 70px;
    background-size: cover;
    background-repeat: no-repeat;

}

.logo{
    position: relative;
    right: -800px;
    top: -380px;
   

}

.head-midnight{
    /* padding: 130px 100px ; */
     color: rgb(255, 255, 255);
     font-size: 20px;
     text-align:left;
     font-family: Merriweather;
     font-size: 60px;
     margin-top:30px;
     padding-left: 80px;
     padding-top: 100px;
   }
.header-midnight{
    padding-left: 65px;
    padding-bottom: 50px;
    color: rgb(255, 255, 255);
    font-size: 20px;
    text-align:left;
    font-family: Merriweather;
    font-size: 18px;

}
.join{
    color: #FFF;
    padding-left: 65px;
}
.box{
    max-width:1200px;
    height:400px;
    background-color: bisque;
    margin: 20px 50px 20px 50px;
    margin-right: 80px;  
}    
.red-text{
    color: #F00;
    padding-left: 450px;
    
    
    
}